:root {
    --backing:rgb(23, 174, 204);
    --text: rgb(114, 14, 112);
}

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
}

* {
    font-size: 25px;
}

h2, h3 {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width:fit-content
}

#topheader {
    display: flex;
    text-align: center;
    justify-content: center;
}

.Navbar {
    display: flex;
    justify-content: space-evenly;
    margin:20px auto;
}

.contrast {
    background-color: var(--backing);
    color: var(--text);
    border-radius: 10px;
}

.image-0 {
    height:500px;
}

#image-2 {
    height: 300px; 
}

.image-3 {
    height:250px;
}

.photos {
display: inline-flex;
align-items: center;
justify-content: center;
width: min-content;
}